.monitoring-table{
  padding: 50px;
  height: 583px;
}

.monitoring__grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 15px;
  column-gap: 10px;
  overflow-y: scroll;
  height: 100%;
}

.monitoring__grid-container::-webkit-scrollbar {
    display: none;
}

.monitoring__grid-item{
  text-align: center;
}

.monitoring__grid-imageWrap {
  position: relative;
  display: flex;
  justify-content: center;
}

.monitoring__grid-imageWrap:hover .monitoring__grid-item--image {
  filter: brightness(0.5);
}

.monitoring__grid-item--image {
  margin-bottom: 5px;
  border-radius: 5px;
}

.monitoring__eximg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: brightness(1);
  cursor: pointer;
  min-height: 110px;
  min-width: 183px;
}

.monitoring__grid-item--text {
  font-size: 14px;
  font-weight: 500;
  color: var(--font-color-black);
}

.monitoring__grid-textOnImage {
  font-size: 16px;
  position: absolute;
  bottom: 45%;
  color: var(--font-color-white);
  cursor: pointer;
  display: none;
  filter: brightness(1.5);
}

.monitoring__grid-imageWrap:hover .monitoring__grid-textOnImage{
  display: block;
}