.monitoring-modal {
  width: 100%;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.monitoring-modal__wrap {
  width: 1200px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  background-color: white;
  position: relative;
  border-radius: 5px;
}

.monitoring-modal__title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 20px;
}

.monitoring-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monitoring-modal__close:hover {
  background-color: var(--btn-color-lightGray);
}

.monitoring-modal__image {
  width: inherit;
  margin-top: 78px;
  display: flex;
  justify-content: center;
}

.monitoring-modal__image img {
  height: 600px;
}

.monitoring-modal__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 35px;
  width: 100%;
  height: 120px;
  /* overflow-x: scroll; */
  padding: 5px 50px;
}

.monitoring-modal__list-image {
  height: 100%;
  cursor: pointer;
}

.monitoring-modal__list-image img {
  height: 100%;
}