.status-colorFild {
  background-color: var(--table-color-green);
  border-radius: 5px;
  padding: 11.5px 19px;
}

.status__tabnav-item {
  background-color: var(--table-color-green);
  color: var(--font-color-white);
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.current {
  background-color: var(--bg-color-gray);
  border-radius: 6px 6px 0 0;
  color: var(--font-color-black);
}

.status__tabcontent i {
  font-size: 26px;
  padding: 5px;
}

.status__tabcontent {
  display: none;
  padding: 14px 11.5px 11px 11.5px;
  border-radius: 0 6px 6px 6px;
}

.control_current {
  border-radius: 6px 6px 6px 6px;
}

.status__tabcontent.current {
  background-color: var(--bg-color-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status__tabitem {
  width: 100%;
  overflow: auto;
  white-space: nowrap;

}

.status__tabitem::-webkit-scrollbar {
  display: none;
}

.status__tabcontent-img {
  height: 40px;
  cursor: pointer;
}

.status__scroll-area {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 15px;

  -webkit-scrollbar: no-button;

  &::-webkit-scrollbar {
    display: none;
  }
}

.status__cardItem-box {
  background-color: white;
  border-radius: 6px;
  min-width: 90px;
  width: 90px;
  padding: 5px;
  margin: 0 10px;
  display: inline-block;
  text-align: center;
}

.status__cardItem-box.selected {
  background-color: var(--btn-color-darkGray);
  color: var(--font-color-white);
}

.status__cardItem-box:hover {
  background-color: var(--btn-color-darkGray);
  color: var(--font-color-white);
}

.status__cardItem-icon {
  background-color: var(--bg-color-darkGray);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.status__cardItem-level {
  margin: 5px 0;
  font-weight: bold;
}

.status__cardItem-name {
  border-radius: 10px;
  background-color: var(--table-color-green);
  color: var(--font-color-white);
  padding: 3px 5px;
  font-size: 11px;
}

.status__icon__img {
  width: 80%;
}